.modal-header {
  background-color: $modal-body-bg;
  padding: #{3 * $grid-size} #{2 * $grid-size};

  .page-title {
    margin-top: 0;
  }
}

.modal-body {
  background-color: $modal-body-bg;
  min-height: $modal-body-height;
  position: relative;
  padding: #{3 * $grid-size} #{2 * $grid-size};

  .form-actions {
    margin: #{2 * $grid-size} #{-2 * $grid-size} #{-2 * $grid-size};
  }

  .text-danger {
    font-weight: $gl-font-weight-bold;
  }
}

.modal-footer {
  display: flex;
  flex-direction: row;

  .btn + .btn {
    margin-left: $grid-size;
  }

  @media (max-width: $screen-xs-max) {
    flex-direction: column;

    .btn + .btn {
      margin-left: 0;
      margin-top: $grid-size;
    }
  }

  @media (min-width: $screen-sm-min) {
    .btn:first-of-type {
      margin-left: auto;
    }
  }
}

body.modal-open {
  overflow: hidden;
}

.modal-no-backdrop {
  @extend .modal-dialog;

  .modal-content {
    box-shadow: none;
  }
}

@media (min-width: $screen-lg-min) {
  .modal-full {
    width: 98%;
  }
}

.modal {
  background-color: $black-transparent;
  z-index: 2100;

  @media (min-width: $screen-md-min) {
    .modal-dialog {
      margin: 30px auto;
    }
  }
}

.recaptcha-modal .recaptcha-form {
  display: inline-block;

  .recaptcha {
    margin: 0;
  }
}
